# Copy this file to /etc/udev/rules.d/70-logi-k380.rules
# Your Logitech K380 keyboard will be fn-locked automatically, no other software at all is required.

ACTION=="add", SUBSYSTEM=="hidraw", KERNEL=="hidraw*", SUBSYSTEMS=="hid", KERNELS=="*:046D:B342.*", RUN+="/bin/bash -c \"echo -ne '\x10\xff\x0b\x1e\x00\x00\x00' > /dev/%k\""
